<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8'>
  </head>
  <body>
    <h1>Flight Confirmation</h1>
    <p>
      Your flight has been booked.
    </p>
    <p>
      Review flight info: <%= link_to 'Booking', @url %>
    </p>
    <p>
      Thank you for choosing Odin Flights.
    </p>
  </body>
</html>
